.wd-search.wd-widget {
  overflow: initial;
  width: 670px;
  .input-wrapper {	
    margin-bottom: 0;
    margin-right: 0;
    padding: 10px 0;
    input {
      font-size: $font-size-16;
      padding-left: 50px;
      @include shadow(2px, 2px, 6px, 0.12);
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 26px;
      left: 18px;
      @extend .icon-search !optional;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0;
    height: 50px;
    width: 110px;
    font-family: $font-medium;
    @include round-left(0);
  }
  .suggestion-box {
    .suggestion-box-wrapper {
      border: 0;
      display: flex;
      background-color: $white;
      padding: 25px;
      @include shadow(2px, 2px, 6px, 0.16);
      .suggestion-terms, .suggestion-products {
        .suggestion-title {
          font-family: $font-bold;
          color: $base-color-black;
          font-size: 12px;
          font-weight: normal;
          padding-bottom: 10px;
          margin: 0;
        }        
      }
      .suggestion-terms {
        padding-right: 45px;
        ul {
          margin: 0 !important;
        }
        .suggestion-item {
          color: $gray-dark;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          margin: 0;
        }
      }
      .suggestion-products {
        ul {
          display: flex;
          align-items: center;
          .suggestion-product {
            border: 0;
            margin: 0;       
            width: 140px;
            padding: 10px;
            overflow: hidden;
            cursor: pointer;
            .suggestion-product-img {
              float: none;
              width: 120px;
              height: auto;
              text-align: center;
              img {
                width: 120px;
                height: auto;
              }
            }
            .suggestion-product-description {
              text-align: center;
            }
            .suggestion-product-name {
              color: $base-color-black;
            }
            .suggestion-product-price {
              color: #F22535;
              font-family: $font-bold;
              font-size: $font-size;
            }
          }          
        }
      }
    }
  }
}