.wd-checkout-basket-summaryheader {
	background: $base-color-green;
	@include round(2px);
	padding: 10px;
	position: relative;
	> a {
		@include link($font-white, $font-white, $font-white, none, none, none);
    display: flex;
    align-items: center;
    justify-content: space-between;
		b {
			font-size: 0;
			&:before {
				content: '';
				@extend .icon-top-cart !optional;
				display: block;
				position: relative;
				margin-right: 5px;
			}
		}
		.basket-size-wrapper {
			font-family: $font-medium;
			font-size: 15px;
		}
	}
	&.empty {
		.wd-widget {
			padding: 20px 15px;
			text-align: center;
			> div {
				display: none;
			}
			&:after {
				content: 'Seu carrinho está vazio :(';
				font-size: 1.5em;
				line-height: 35px;
			}
		}
	}
	.wd-widget {
		@extend .dropdown-shaddow !optional;
		width: 288px;
		left: initial !important;
		right: 0 !important;
		top: 60px;
		transform: none !important;
		overflow: initial;
		&:before {
			content: '';
			display: block;
			@include arrow('top', $font-white, 10px);
			position: absolute;
			top: -10px;
			right: 0;
		}
		.wd-header {
			@extend .dropdown-title !optional;
		}
		.wd-content {
			padding: 25px;
			margin: 0;
			ul {
				padding: 0;
				padding-bottom: 10px;
				li {
					margin: 0;
					&.img {
						img {
							width: 56px;
							height: auto;
						}
					}
					&.name, &.price {
						width: 170px;
						padding: 0 10px;
						box-sizing: border-box;
						text-align: left;
						line-height: 18px;
					}
					&.name {
						color: $font-black;
						min-height: 35px;
						.freeitem {
							display: none;
						}
					}
					&.price {
						font-family: $font-medium;
						color: $base-color;
					}		
				}
			}
			
			.subtotal {
				padding: 6px 15px;
				height: auto;
				background-color: $gray-background;
				font-weight: normal;
				li {
					margin: 0;
				}
				.value {
					font-family: $font-bold;
					color: $base-color;
					position: initial;
					float: right;
				}
			}
		}
		.wd-footer {
			padding: 0;
			.go-to-basket {
				@extend .btn-wide !optional;
				font-family: $font-bold;
			}
			.go-to-checkout {
				display: none;
			}
		}
	}
}