.category-bar {
	background-color: $base-color;
	height: 64px;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.16);
	.all-category {
		background-color: $darken-color;
		position: initial;
		.button-extend {
			position: relative;
			height: 100%;
			text-align: center;
			color: $font-white;
			padding: 15px;
			width: 178px;
			box-sizing: border-box;
			line-height: 2em;
			cursor: pointer;
			.arrow-up {
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid #FFFFFF;
				position: absolute;
				top: 40px;
				left: 50%;
				margin-left: -7px;
				opacity: 0;
				transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
			}
		}
		.all-category-wrapper {
			display: none;
			justify-content: space-between;
			width: 100%;
			left: 0;
			z-index: 100;
			overflow: hidden;
			transition-delay: 100ms;
			.wd-category-menu {
    			ul.level-1 {						
						position: relative;
				    > li {
							width: 288px;
							margin: 0;
							border-bottom: 1px solid $lighten-color;
							background-color: $darken-color;
							font-size: $font-size-16;
							box-sizing: border-box;
							h3 {
								margin: 0;
								position: relative;
								&:before {
									content: '';
									position: absolute;
									left: -10px;
									top: 50%;
									transform: translate(0, -50%);
									@include arrow('left', $darken-color, 12px);
									z-index: 2;
								}
								a {
									display: block;
									padding: 15px 25px;
									font-family: $font-regular;
									@include link($font-white, $font-white, $font-white, none, none, none);
								}
							}
					    * {
				    		font-size: $font-size-16;
				    	}
	    				.sub-section {
								display: none;
								width: 635px;
								padding: 20px;
								position: absolute;
								top: 0;
								right: 288px;
								background-color: #fff;
								grid-template-columns: 1fr 1fr 1fr 1fr;
								grid-gap: 15px;
	    					li {
	    						display: block;
	    						float: none;
									margin-bottom: 0;
									text-align: center;
		    					h4 {
		    						font-weight: normal;
		    						margin: 0;
		    						a {
											@include link($gray-dark, $gray-dark, $gray-dark, none, none, underline);
											font-size: $font-size;
		    						}
		    					}
	    					}	    					
							}							
							&:hover {
								background-color: $lighten-color;
								h3 {
									&:before {										
										@include arrow('left', $lighten-color, 12px);
									}
									a {									
										font-family: $font-bold;
									}
								}
								.sub-section {
									display: grid;
								}
							}
							&:last-child {
								border: 0;
							}
				    }    				
    			}
			}
			.most-searched-brands:not(.wd-widget) {
				margin: 25px 0;
				border-right: 1px solid $gray-background;
			}
		}
		&:hover {
			.all-category-wrapper {
				display: flex;
			}
			.arrow-up {
				opacity: 1;
			}
		}
	}
	.main-category {
		margin: 0;
		.section  {
			> li {
				float: left;
				margin: 0;
				padding: 0;
				h3 {
					font-size: $font-size;
					font-family: $font-medium;
					font-weight: normal;					
					display: inline-block;
					padding: 0;
					margin: 0;
					a {
						font-family: $font-medium;
						color: $font-white;
						font-size: $font-size;
						padding: 10px;
						display: block;
						text-decoration: none;
						.icon:before {
							content: '';
							display: block;
							margin: 0 auto 5px;
							min-height: 25px;
						}
					}
				}
				&:first-child {
					a {
						.icon:before {
							@extend .icon-menu-pillow !optional;
						}
					}
				}
				&:nth-child(2) {
					a {
						.icon:before {
							@extend .icon-menu-drill !optional;
						}
					}
				}
				&:nth-child(3) {
					a {
						.icon:before {
							@extend .icon-menu-light !optional;
						}
					}
				}
				&:nth-child(4) {
					a {
						.icon:before {
							@extend .icon-menu-wheelbarrow !optional;
						}
					}
				}
				&:nth-child(5) {
					a {
						.icon:before {
							@extend .icon-menu-plug !optional;
						}
					}
				}
				&:nth-child(6) {
					a{
						.icon:before {
							@extend .icon-menu-oil !optional;
						}
					}
				}
				&:nth-child(7) {
					a {
						.icon:before {
							@extend .icon-menu-floor !optional;
						}
					}
				}
				&:nth-child(8) {
					a {
						.icon:before {
							@extend .icon-menu-paint-bucket !optional;
						}
					}
					
				}
				&:nth-child(9) {
					a {
						.icon:before {
							@extend .icon-menu-sale !optional;
						}
					}
				}
				.menu-wrapper {
					@extend .dropdown-shaddow !optional;
					z-index: 55;
					min-width: 100px;
					transition-delay: 100ms;
					.sub-section {
						&.level-2 {
							padding: 25px 40px 25px 25px;
						}
						> li {
							margin-top: 0;
							margin-bottom: 15px;
							&:last-child {
								margin-bottom: 0;
							}
							h4 {
								margin: 0;
							}
							a {
								@include link($base-color-black, $base-color-black, $base-color-black, none);
								font-size: $font-size;
								line-height: 20px;
							}
						}
						&.level-2 {
							> li > h4 > a {
								font-family: $font-bold;
							}
							.level-3 {
								padding-left: 5px;
								li {
									margin: 0;
								}
							}
						}
					}
					.category-area {
						> div {
							display: flex;
						}
						.most-searched-brands:not(.wd-widget) {
							padding: 25px 40px;
							border-left: 1px solid $gray-background;
						}
					}
				}
				&:hover {
					background-color: #fff;
					@extend .shaddow !optional;					
					.menu-wrapper {
						display: flex;
					}
					h3 > a {						
						color: $base-color;
					}
					&:first-child {
						a {
							.icon:before {
								@extend .icon-menu-pillow-hover !optional;
							}
						}
					}
					&:nth-child(2) {
						a {
							.icon:before {
								@extend .icon-menu-drill-hover !optional;
							}
						}
					}
					&:nth-child(3) {
						a {
							.icon:before {
								@extend .icon-menu-light-hover !optional;
							}
						}
					}
					&:nth-child(4) {
						a {
							.icon:before {
								@extend .icon-menu-wheelbarrow-hover !optional;
							}
						}
					}
					&:nth-child(5) {
						a {
							.icon:before {
								@extend .icon-menu-plug-hover !optional;
							}
						}
					}
					&:nth-child(6) {
						a {
							.icon:before {
								@extend .icon-menu-oil-hover !optional;
							}
						}
					}
					&:nth-child(7) {
						a {
							.icon:before {
								@extend .icon-menu-floor-hover !optional;
							}
						}
					}
					&:nth-child(8) {
						a {
							.icon:before {
								@extend .icon-menu-paint-bucket-hover !optional;
							}
						}
						
					}
					&:nth-child(9) {
						a {
							.icon:before {
								@extend .icon-menu-sale-hover !optional;
							}
						}
					}
				}
			}
		}
	}
	.most-searched-brands:not(.wd-widget) {
		padding: 0 30px;
		.wd-title {
			font-size: $font-size-16;
			font-family: $font-medium;
			text-align: center;
			color: $font-black;
			padding-bottom: 5px;
		}
		li {
			border: 1px solid $gray-background;
			a {
				width: 182px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					max-height: 30px;
					width: auto;
				}
			}
		}
	}
	.day-offer {
	    background-color: $base-color-2;
	    height: 46.66px;
	    float: right;
	    text-align: center;
	    text-transform: uppercase;
	    color: $font-white;
	    line-height: 46px;
	    cursor: pointer;
	    flex: auto;
	    &:hover {
	    	background-color: darken( $base-color-2, 10% );
	    	.dropdown-oferta {
	    		display: block;
	    	}
	    }
	    .dropdown-oferta {
	    	display: none;
	    	position: absolute;
	    	right: 0;
	    	z-index: 2;
	    	transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
	    }
	}
}