.category-bar {
	background-color: $base-color;
	min-height: 46px;
	@include grid-media($grid-p){
		display: none;
	}
	@include grid-media($grid-pp){
		display: none;
	}
	.all-category {
		background-color: $darken-color;
		position: initial;
		.button-extend {
			position: relative;
			height: 100%;
			text-align: center;
			color: $font-white;
			padding: 15px;
			width: 178px;
			box-sizing: border-box;
			line-height: 2em;
			cursor: pointer;
			.arrow-up {
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid #FFFFFF;
				position: absolute;
				top: 40px;
				left: 50%;
				margin-left: -7px;
				opacity: 0;
				transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
			}
		}
		> .wd-category-menu {
			display: none;
			position: absolute;
			min-height: 300px;
		    background-color: #fff;
		    position: absolute;
		    width: 100%;
		    left: 0;
		    z-index: 100;
		    overflow: hidden;
			transition-delay: 100ms;
			.wd-category-menu {
    			ul.level-1 {
				    border: 1px solid $gray-light;
				    border-top: 0;
				    padding: 0 20px;
				    overflow: hidden;
				    > li {
				    	padding: 20px 0;
				    	margin: 0;
				    	box-sizing: border-box;
				    	height: 200px;
				    	@include grid-column(3);
					    * {
				    		font-size: $font-size;
				    	}
				    	h3 {
				    		border-bottom: 1px solid $gray-medium;
				    		padding-bottom: 10px;
	    					a {
	    						font-weight: bold;
	    					}
	    				}
	    				.sub-section {
	    					li {
	    						display: block;
	    						float: none;
	    						margin-bottom: 0;
		    					h4 {
		    						font-weight: normal;
		    						margin: 0;
		    						a {
		    							font-size: 0.9em;
		    						}
		    					}
	    					}	    					
	    				}
				    }
    				
    			}
			}
		}
		&:hover {
			> .wd-category-menu {
				display: block;
			}
			.arrow-up {
				opacity: 1;
			}
		}
	}
	.main-category {
		margin: 0;
		.section  {
			> li {
				float: left;
				margin: 0;
				padding: 0;
				&:first-child {
					a {
						.icon:before {
							@extend .icon-menu-pillow !optional;
						}
					}
				}
				&:nth-child(2) {
					a {
						.icon:before {
							@extend .icon-menu-drill !optional;
						}
					}
				}
				&:nth-child(3) {
					a {
						.icon:before {
							@extend .icon-menu-light !optional;
						}
					}
				}
				&:nth-child(4) {
					a {
						.icon:before {
							@extend .icon-menu-wheelbarrow !optional;
						}
					}
				}
				&:nth-child(5) {
					a {
						.icon:before {
							@extend .icon-menu-plug !optional;
						}
					}
				}
				&:nth-child(6) {
					a:before {
						@extend .icon-menu-oil !optional;
					}
				}
				&:nth-child(7) {
					a {
						.icon:before {
							@extend .icon-menu-floor !optional;
						}
					}
				}
				&:first-child {
					a {
						.icon:before {
							@extend .icon-menu-paint-bucket !optional;
						}
					}
					
				}
				&:last-child {
					a {
						.icon:before {
							@extend .icon-menu-sale !optional;
						}
					}
				}
				h3 {
					font-size: $font-size;
					font-family: $font-medium;
					font-weight: normal;					
					display: inline-block;
					padding: 0;
					margin: 0;
					a {
						font-family: $font-medium;
						color: $font-white;
						padding: 10px;
						display: block;
						text-decoration: none;
						.icon:before {
							content: '';
							display: block;
							margin: 0 auto 5px;
							min-height: 25px;
						}
					}
				}
				.sub-section {
					@extend .dropdown-shaddow !optional;
					z-index: 55;
					padding: 25px;
					min-width: 100px;
					transition-delay: 100ms;
					> li {
						margin-top: 0;
						margin-bottom: 15px;
						&:last-child {
							margin-bottom: 0;
						}
						h4 {
							margin: 0;
						}
						a {
							@include link($base-color-black, $base-color-black, $base-color-black, none);
							line-height: 20px;
						}
					}
					&.level-2 {
						> li > h4 > a {
							font-family: $font-bold;
						}
						.level-3 {
							padding-left: 5px;
							li {
								margin: 0;
							}
						}
					}
				}
				&:hover {
					background-color: #fff;
					@extend .shaddow !optional;
					h3 > a {						
						color: $base-color;
					}
					.sub-section {
						display: block;
					}
				}
			}
		}
	}
	.day-offer {
	    background-color: $base-color-2;
	    height: 46.66px;
	    float: right;
	    text-align: center;
	    text-transform: uppercase;
	    color: $font-white;
	    line-height: 46px;
	    cursor: pointer;
	    flex: auto;
	    &:hover {
	    	background-color: darken( $base-color-2, 10% );
	    	.dropdown-oferta {
	    		display: block;
	    	}
	    }
	    .dropdown-oferta {
	    	display: none;
	    	position: absolute;
	    	right: 0;
	    	z-index: 2;
	    	transition: all 0.3s cubic-bezier(0.4, 0.2, 0, 1) 0ms;
	    }
	}
}