header {
	.top-bar {
		background-color: $gray-dark;
		color: $font-white;
		padding: 6px 0;
	}
	.offers {
		text-align: left;
		display: flex;
		align-items: center;
		> div {
			margin-right: 25px;
		}
	}
	.phone {
		text-align: right;
	}
	.offers div, .phone {
		display: flex;
		align-items: center;
		.icon {
			margin-right: 5px;
		}
	}

	&.flutuante {
		.top-bar {
			margin-bottom: 82px;
		}
		.main-bar {
			position: fixed;
			top: 0;
			z-index: 55;
			width: 100%;
		}
	}
	.main-bar {
		padding: 15px 0;
		background: $gray-background;
		@include shadow(0, 5px, 10px, 0.16);
		&.simples {
			@include shadow(0px, 3px, 6px, 0.16);
		}
		.my-account, .attendance {
			margin-right: 25px;
			.title {
				@include link($base-color-black, $base-color-black, $base-color-black, none, none, none);
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.my-account {	
			position: relative;		
			&:hover {
				.wd-profile-welcome-shopper {
					display: block;
				}
			}
		}
		.wd-profile-welcome-shopper {
			@extend .dropdown-shaddow !optional;
			@extend .transform-center !optional;
			top: 60px;
			right: initial;
			min-height: 350px;
			width: 248px;
			box-sizing: border-box;
			overflow: initial;
			z-index: 2;
			&:before {
				content: '';
				display: block;
				@include arrow('top', $font-white, 10px);
				position: absolute;
				top: -10px;
				@extend .transform-center !optional;
			}
			&.logged {
				min-height: 175px;
				a {
					@include link($font-black, $font-black, $font-black, none, underline, underline);					
				}
			}
			.widget-title {
				@extend .dropdown-title !optional;
			}
			.widget-content {
				padding: 15px 25px 25px;
				.login-wrapper, .new-account {
					display: block;
					text-align: center;
				}
				.new-account {
					color: #A4A8B2;
					font-size: $font-size;
					margin-bottom: 10px;
					a {
						color: $base-color-green;
						font-family: $font-bold;
					}
				}
				.wd-profile-login {
					display: block;
					position: initial;
					width: 100%;
					height: auto;
					padding: 0;
					border: none;
					background: $white;
					z-index: 1;
					line-height: 12px;
					.input-wrapper {
						margin: 0;
					}
					input {
						width: 100%;
						@include round(2px);
						padding: 12px 15px;
						border: 1px solid $gray-light;
						background-color: $gray-background;
						font-size: $font-size-16;
						font-style: normal;
					}
					button {
						font-family: $font-bold;
						@extend .btn-wide !optional;
					}
					.recover-password {
						color: #A4A8B2;
						font-size: $font-size;
						margin: 10px 0;
					}
				}
				.wd-profile-login-recover-password {
					display: none;
				}
				.login-title {
					background-color: $btn-buy;
					color: $font-white;
					margin-bottom: 10px;
					@include round(2px);
				}
				.shopper-authenticated {
					a {
						line-height: auto;
						display: block;
						&.put-pipe {
							padding: 0;
							&:before {
								display: none;
							}
							b {
								font-weight: normal;
							}
						}
					}
				}
			}
		}

		.main-wishlist {
			font-size: 30px;
			text-align: center;
			a {
				color: $base-color-2;
				&:hover {
					color: darken( $base-color-2, 10% );
				}
			}
		}
	}
	.wd-marketing-banner {
		height: auto !important;
    line-height: normal !important;
	}
}
