.wd-widget {
	overflow: hidden;
	.wd-header {
	    span.wd-icon {
	    	display: inline-block;
		}
		.wd-title {
			display: inline-block;
		}
	}
	&.wd-browsing-product-carousel, &.wd-product-list, &.wd-product-featured-list {
		margin-bottom: 60px;
		.wd-header {
			display: flex;
			margin-bottom: 30px;
			&:after {
				content: '';
				display: block;
				background-image: url('/Custom/Content/themes/#{$theme-path}/Imagens/icon-titulo.png');
				background-repeat: no-repeat;
				width: 174px;
				height: 40px;
			}
			.wd-title {
				width: 996px;
				height: 40px;
				color: $font-white;
				font-family: $font-bold;
				font-size: 20px;
				line-height: 40px;
				padding: 0 25px;
				background-color: $base-color;
			}
		}
	}
}
.wd-browsing-breadcrumbs {
	margin-bottom: 20px;
	.location {
		display: none;
	}
	li {
		display: flex;
		margin: 0;
		&:not(.last){
			&:after {
				content: '>';
				padding: 0 10px;
				color: $gray-dark;
			}
			a {
				@include link($gray-dark, $gray-dark, $gray-dark, none, none, underline);
				display: flex;
			}
		}
		&.first {
			a {
				&:before {
					content: '';
					display: block;
					@extend .icon-web-page-home !optional;
					margin-right: 10px;
				}
			}
		}
		&.last {
			font-family: $font-regular;
			color: $base-color;
			* {
				font-family: $font-regular;
			}
		}
	}
}

/* carrossel de marcas */
.wd-brand-carousel {
	li {
		width: auto;
		margin: 0 10px 0 0;
	}
	[data-jcarousel] {
		padding: 10px 30px;
	}
	.jcarousel-control-prev, .jcarousel-control-next {
		width: 30px;
		height: 90px;
		background-color: $gray-background;
		i {
			margin: 0 auto;
			transform: translate(0, 50%);
		}
	}
}

/* banners */
.wd-marketing-banner{
	max-width: 100%;
	.banner-wrapper, a {
		max-width: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
	&.slider {
		line-height: normal !important;
		height: auto !important;
		.banner-wrapper, a {
			max-width: 100%; 
			height: auto !important;
		}
		.slider-controller {
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			line-height: normal;
			li {
				font-size: 0 !important;
				background: rgba(255, 255, 255, 0.3);
				border: none;
				width: 16px !important;
				height: 6px !important;
				margin: 4px !important;
				border-radius: 20px;
				box-shadow: none;
				&.current {
					background: rgba(255, 255, 255, 0.6);
					width: 24px !important;
					height: 8px !important;
				}
			}
		}
		.nav-control a {
			display: block;
			position: absolute;
			top: 50%;
			left: 40px;
			transform: translate(0, -50%);
			&.next {
				left: initial;
				right: 40px;
			}
		}
	}
}
.wd-product-rating {
	.rating-average {
		background: url('/Custom/Content/Themes/#{$theme-path}/Imagens/stars.png');
		width: 64px;
		height: 12px;
		background-position: -65px 0;
		top: 0;
		&.rate-1 {
			background-position: -52px 0;						
		}
		&.rate-2 {
			background-position: -39px 0;					
		}
		&.rate-3 {
			background-position: -26px 0;					
		}
		&.rate-4 {
			background-position: -13px 0;				
		}
		&.rate-5 {
			background-position: 0 0;
		}
	}
}