.btn, button {
    display: inline-block;
    position: relative;
	padding: 0 2em;
	height: 50px;
    cursor: pointer;

    background: $base-color-green;
    color: $font-white;
    font-family: $font-regular;
    font-size: 18px;
    line-height: 1em;
    font-weight: normal;
    text-align: center;

	outline: none;
    border: none;
    border-bottom: none;
    @include round(2px);
    
    -webkit-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    -moz-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);

    &:hover, &.btn-hover {
    	text-decoration: none;
    	background: $darken-color-green;
	    border-bottom-color: $darken-color-green;
    }
    &.btn-small {
    	padding: 0.7em 1em;
    	font-size: 0.75rem;
    }
	&.btn-outline {
		background: transparent;
		border: 1px solid $gray-dark;
		color: $gray-dark;
		font-size: 14px;
		&:active {
    		background-color: $gray-light;
		}
		&:hover {
    		background-color: $gray-light;
		}
	}
	&.btn-big {
		font-size: 1.125rem;
    	line-height: 1.2em;
	}
	&.btn-huge {
		font-size: 1.625rem;
	}
	&.btn-wide {
	    width: 100%;
	    text-align: center;
	}
	&[disabled] {
		background-color: tint($font-black, 70%);
	    font-weight: 500;
	    color: tint($font-black, 40%);
	    border-bottom-color: tint($font-black, 10%);
	    cursor: wait;
	}
	&.btn-buy {
		background-color: $btn-buy;
		font-family: $font-bold;
    	&:active, &:hover {
			background: $darken-color-green;
		}
		small {
			display: block;
		    font-size: 0.6em;
		    opacity: .8;
		    line-height: 1.5em;
		}
	}
	&.bt-notifyme {		
		margin: 15px 0;		    		
		@extend .btn-wide;
		background: $gray-dark;
		padding: 15px;
		font-family: $font-regular;
		&:active {
			background: tint($gray-dark, 20%);
		}
		&:hover {
		    background: tint($gray-dark, 20%);
		}
	}
	&.btn-remove {
	    padding: 0;
	    background: transparent;
	    color: $base-color;
	    font-size: 0.9em;
		&:hover {
		    color: $darken-color;
		}		
		i {
			padding-right: 3px;
		}
	}
}