// nome da pasta do tema
$theme-path: 'Base';

// CORES
// vermelhos
$base-color: #DC282D;
$darken-color: #C2191F;
$lighten-color: #F5363C;

// amarelo
$base-color-2: #FFCB05;
$darken-color-2: #EBBC00;
$lighten-color-2: #FFD633;

// verde
$base-color-green: #00CC6F;
$darken-color-green: #09B366;
$lighten-color-green: #38E095;

// preto
$base-color-black: #262626;
$darken-color-black: #1F1F1F;
$lighten-color-black: #333333;

// cinza
$base-color-gray: #EFF2F7;
$darken-color-gray: #E5E9F2;
$lighten-color-gray: #F9FAFC;

// cinzas
$gray-dark: #808080;
$gray-medium: #AFAFAF;
$gray-semilight: #ddd;
$gray-light: #eee;
$gray-extralight: #f1f1f1;

$btn-buy: $base-color-green;
$price-off: $base-color;
$cart-total: #22884F;
$cart-destaque: #22884F;

// alertas
$success: #dff0d8;
$info: #d9edf7;
$warning:#fcf8e3;
$danger:#f2dede;

//flags
$flag: #22884F;

// FONTES
$font-black: $base-color-black;
$font-gray: $gray-dark;
$font-white: #fff;
$font-thin: 'PFSquareSansPro-Thin', sans-serif;
$font-thinitalic: 'PFSquareSansPro-ThinItalic', sans-serif;
$font-light: 'PFSquareSansPro-Light', sans-serif;
$font-lightitalic: 'PFSquareSansPro-LightItalic', sans-serif;
$font-regular: 'PFSquareSansPro-Regular', sans-serif;
$font-italic: 'PFSquareSansPro-Italic', sans-serif;
$font-medium: 'PFSquareSansPro-Medium', sans-serif;
$font-mediumitalic: 'PFSquareSansPro-MediumItalic', sans-serif;
$font-bold: 'PFSquareSansPro-Bold', sans-serif;
$font-bolditalic: 'PFSquareSansPro-BoldItalic', sans-serif;
$font-extrablack: 'PFSquareSansPro-ExtraBlack', sans-serif;
$font-extrablack: 'PFSquareSansPro-ExtraBlackItalic', sans-serif;
$font-size: 14px;
$font-size-16: 16px;

// ESTRUTURA
$wrapper: 1170px;

// quantidade de produtos por linha em vitrine carrossel
$qtd-products-vitrine: 4;


$grid-pp: (
     columns: 12,
     gutter: 20px,
     media: "screen and (max-width: 575px)"
);
$grid-p: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 575px) and (max-width:767px)"
);
$grid-m: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 768px) and (max-width:991px)"
);
$grid-g: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 992px) and (max-width:1179px)"
);
$grid-gg: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 1180px)"
);
$grid-smartphone: (
     columns: 12,
     gutter: 20px,
     media: "screen and (max-width:767px)"
);
$grid-tablet-desktop: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width:768px)"
);

$breakpoint-mobile: 768px;
