.wd-product-price-description {
	.list-price {
		font-size: 18px;
		color: $gray-dark;
		text-decoration: none;
		&.variation {
			span {
				color: $font-black;
				font-family: $font-bold;
			}
		}
	}
	.sale-price {
		color: $gray-dark;
	}
	.condition {
		.parcels, .parcel-value {
			font-weight: $font-bold;
		}
	}
	.savings {		
		font-size: 18px;
		.instant-price {
			font-family: $base-color;
			color: $price-off;
		}
	}
	.discount {
		display: inline-block;
		background-color: $gray-background;
		padding: 5px 12px;
		margin-top: 8px;
		font-size: 12px;
	}
	.asyncprice-area {
		margin: 0;
		.sale-price {
			em {
				font-family: $font-regular;
			}
		}
	}
}
.wd-product-line {
	.wd-product-price-description {
		height: 125px;
		padding-top: 20px;
		position: relative;
		overflow: initial;
		.list-price:not(.variation) {
			font-size: $font-size;
			position: absolute;
			top: 0;
		}
		.sale-price, .list-price.variation {
			font-size: 20px;
			strong, span {
				color: $font-black;
			}
		}
		.condition {
			font-size: $font-size;
			.parcels, .parcel-value {
				color: $font-black;
			}
		}
		.savings {
			font-size: $font-size;
			.instant-price {
				font-family: $base-color;
				color: $price-off;
			}
		} 
		.condition {
			font-size: 12px;
		}
	}
}
.product-detail .product-price {
	font-size: 18px;
	.wd-product-price {
		width: max-content;
	}
	.discount {
		background-color: $gray-light;
		font-size: 14px;
		padding: 10px 15px;
		margin-top: 15px;
	}
}
.wd-browsing-grid-list {
	.wd-product-line {
		.discount {
			padding: 5px;
		}
	}
}