/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
[class^="icon-"], [class*=" icon-"] {
  display: block;
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-facetas {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px -192px;
  width: 16px;
  height: 8px;
}
.icon-avatar {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -113px -96px;
  width: 40px;
  height: 40px;
}
.icon-brands-left {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px -160px;
  width: 16px;
  height: 32px;
}
.icon-brands-right {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px -128px;
  width: 16px;
  height: 32px;
}
.icon-carousel-left {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -231px -96px;
  width: 8px;
  height: 14px;
}
.icon-carousel-right {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -231px -110px;
  width: 8px;
  height: 14px;
}
.icon-checked {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px -167px;
  width: 10px;
  height: 8px;
}
.icon-facebook {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -32px -144px;
  width: 32px;
  height: 32px;
}
.icon-footer-mail {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -16px -200px;
  width: 24px;
  height: 18px;
}
.icon-footer-phone {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -72px -176px;
  width: 24px;
  height: 24px;
}
.icon-footer-whats {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -168px -176px;
  width: 24px;
  height: 24px;
}
.icon-fullbanner-left {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px -96px;
  width: 16px;
  height: 32px;
}
.icon-fullbanner-right {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: 0px -200px;
  width: 16px;
  height: 32px;
}
.icon-instagram {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -64px -144px;
  width: 32px;
  height: 32px;
}
.icon-menu-all {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -106px -200px;
  width: 16px;
  height: 12px;
}
.icon-menu-drill-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px -24px;
  width: 24px;
  height: 24px;
}
.icon-menu-drill {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px -48px;
  width: 24px;
  height: 24px;
}
.icon-menu-floor-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px -71px;
  width: 24px;
  height: 24px;
}
.icon-menu-floor {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px -95px;
  width: 24px;
  height: 24px;
}
.icon-menu-light-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px -119px;
  width: 24px;
  height: 24px;
}
.icon-menu-light {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px -143px;
  width: 24px;
  height: 24px;
}
.icon-menu-oil-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -153px -96px;
  width: 24px;
  height: 24px;
}
.icon-menu-oil {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: 0px -176px;
  width: 24px;
  height: 24px;
}
.icon-menu-paint-bucket-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -24px -176px;
  width: 24px;
  height: 24px;
}
.icon-menu-paint-bucket {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -48px -176px;
  width: 24px;
  height: 24px;
}
.icon-menu-pillow-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px 0px;
  width: 24px;
  height: 24px;
}
.icon-menu-pillow {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -96px -176px;
  width: 24px;
  height: 24px;
}
.icon-menu-plug-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -120px -176px;
  width: 24px;
  height: 24px;
}
.icon-menu-plug {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -144px -176px;
  width: 24px;
  height: 24px;
}
.icon-menu-sale {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -215px -72px;
  width: 22px;
  height: 24px;
}
.icon-menu-wheelbarrow-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px 0px;
  width: 32px;
  height: 24px;
}
.icon-menu-wheelbarrow {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px -24px;
  width: 32px;
  height: 24px;
}
.icon-news-mail {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -61px -96px;
  width: 52px;
  height: 40px;
}
.icon-payment-pay-amex {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -61px 0px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-android {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: 0px -48px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-apple {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -122px -48px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-dinners {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: 0px 0px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-master {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: 0px -96px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-paypal {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -122px 0px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-visa {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -61px -48px;
  width: 61px;
  height: 48px;
}
.icon-search {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -40px -200px;
  width: 16px;
  height: 16px;
}
.icon-top-boleto {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -56px -200px;
  width: 18px;
  height: 14px;
}
.icon-top-card {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -90px -200px;
  width: 16px;
  height: 12px;
}
.icon-top-cart {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -128px -144px;
  width: 32px;
  height: 28px;
}
.icon-top-phone {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -192px -176px;
  width: 16px;
  height: 16px;
}
.icon-top-support {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -96px -144px;
  width: 32px;
  height: 32px;
}
.icon-top-tradition {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -160px -144px;
  width: 16px;
  height: 18px;
}
.icon-top-truck {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -153px -120px;
  width: 18px;
  height: 16px;
}
.icon-top-user {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: 0px -144px;
  width: 32px;
  height: 32px;
}
.icon-web-page-home {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -74px -200px;
  width: 16px;
  height: 14px;
}
.icon-youtube {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v2');
  background-position: -183px -48px;
  width: 32px;
  height: 23px;
}
