/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
[class^="icon-"], [class*=" icon-"] {
  display: block;
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-basket {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -247px -73px;
  width: 5px;
  height: 8px;
}
.icon-arrow-facetas {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -240px;
  width: 16px;
  height: 8px;
}
.icon-arrow-pagination {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -247px -56px;
  width: 6px;
  height: 12px;
}
.icon-arrow-select {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -245px -82px;
  width: 12px;
  height: 6px;
}
.icon-avatar {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -205px -82px;
  width: 40px;
  height: 40px;
}
.icon-basket-buy {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -80px 0px;
  width: 64px;
  height: 56px;
}
.icon-basket-truck {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -205px -122px;
  width: 42px;
  height: 36px;
}
.icon-brands-left {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -32px;
  width: 16px;
  height: 32px;
}
.icon-brands-right {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px 0px;
  width: 16px;
  height: 32px;
}
.icon-carousel-left {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -248px;
  width: 8px;
  height: 14px;
}
.icon-carousel-right {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -289px -248px;
  width: 8px;
  height: 14px;
}
.icon-checked {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -247px -40px;
  width: 10px;
  height: 8px;
}
.icon-close {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -228px;
  width: 12px;
  height: 12px;
}
.icon-delivery-truck {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -183px -160px;
  width: 18px;
  height: 16px;
}
.icon-equal {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -178px -176px;
  width: 24px;
  height: 12px;
}
.icon-facebook {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -32px -176px;
  width: 32px;
  height: 32px;
}
.icon-footer-mail {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -205px -158px;
  width: 24px;
  height: 18px;
}
.icon-footer-phone {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -131px -208px;
  width: 24px;
  height: 24px;
}
.icon-footer-whats {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -203px -208px;
  width: 24px;
  height: 24px;
}
.icon-fullbanner-left {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -96px;
  width: 16px;
  height: 32px;
}
.icon-fullbanner-right {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -64px;
  width: 16px;
  height: 32px;
}
.icon-instagram {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -64px -176px;
  width: 32px;
  height: 32px;
}
.icon-label {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -205px -40px;
  width: 42px;
  height: 42px;
}
.icon-menu-all {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -192px;
  width: 16px;
  height: 12px;
}
.icon-menu-drill-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -24px;
  width: 24px;
  height: 24px;
}
.icon-menu-drill {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -83px -208px;
  width: 24px;
  height: 24px;
}
.icon-menu-drywall-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -176px -96px;
  width: 27px;
  height: 31px;
}
.icon-menu-drywall {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -56px -208px;
  width: 27px;
  height: 31px;
}
.icon-menu-floor-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -155px -208px;
  width: 24px;
  height: 24px;
}
.icon-menu-floor {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -179px -208px;
  width: 24px;
  height: 24px;
}
.icon-menu-garden-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -122px -80px;
  width: 17px;
  height: 32px;
}
.icon-menu-garden {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -183px -128px;
  width: 17px;
  height: 32px;
}
.icon-menu-housewares-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -28px -208px;
  width: 28px;
  height: 33px;
}
.icon-menu-housewares {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: 0px -208px;
  width: 28px;
  height: 33px;
}
.icon-menu-light-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -48px;
  width: 24px;
  height: 24px;
}
.icon-menu-light {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -72px;
  width: 24px;
  height: 24px;
}
.icon-menu-oil-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -96px;
  width: 24px;
  height: 24px;
}
.icon-menu-oil {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px 0px;
  width: 24px;
  height: 24px;
}
.icon-menu-paint-bucket-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -144px;
  width: 24px;
  height: 24px;
}
.icon-menu-paint-bucket {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -168px;
  width: 24px;
  height: 24px;
}
.icon-menu-pillow-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -192px;
  width: 24px;
  height: 24px;
}
.icon-menu-pillow {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -216px;
  width: 24px;
  height: 24px;
}
.icon-menu-plug-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -257px -120px;
  width: 24px;
  height: 24px;
}
.icon-menu-plug {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -227px -208px;
  width: 24px;
  height: 24px;
}
.icon-menu-sale {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -22px -241px;
  width: 22px;
  height: 24px;
}
.icon-menu-wheelbarrow-hover {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -112px -56px;
  width: 32px;
  height: 24px;
}
.icon-menu-wheelbarrow {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -80px -56px;
  width: 32px;
  height: 24px;
}
.icon-minus {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -262px;
  width: 12px;
  height: 3px;
}
.icon-more {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -107px -208px;
  width: 24px;
  height: 24px;
}
.icon-news-mail {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -205px 0px;
  width: 52px;
  height: 40px;
}
.icon-payment-pay-amex {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -144px -48px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-android {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -144px 0px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-apple {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -61px -80px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-dinners {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -122px -128px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-master {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: 0px -80px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-paypal {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -61px -128px;
  width: 61px;
  height: 48px;
}
.icon-payment-pay-visa {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: 0px -128px;
  width: 61px;
  height: 48px;
}
.icon-plus {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -216px;
  width: 12px;
  height: 12px;
}
.icon-register {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: 0px 0px;
  width: 80px;
  height: 80px;
}
.icon-remove {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -160px -176px;
  width: 18px;
  height: 20px;
}
.icon-safe {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: 0px -241px;
  width: 22px;
  height: 24px;
}
.icon-scroll-top {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -229px -158px;
  width: 24px;
  height: 12px;
}
.icon-search {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -162px;
  width: 16px;
  height: 16px;
}
.icon-see-more {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -247px -68px;
  width: 10px;
  height: 5px;
}
.icon-top-boleto {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -44px -241px;
  width: 18px;
  height: 14px;
}
.icon-top-card {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -204px;
  width: 16px;
  height: 12px;
}
.icon-top-cart {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -96px -176px;
  width: 32px;
  height: 28px;
}
.icon-top-phone {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -146px;
  width: 16px;
  height: 16px;
}
.icon-top-support {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -144px -96px;
  width: 32px;
  height: 32px;
}
.icon-top-tradition {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -128px;
  width: 16px;
  height: 18px;
}
.icon-top-truck {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -122px -112px;
  width: 18px;
  height: 16px;
}
.icon-top-user {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: 0px -176px;
  width: 32px;
  height: 32px;
}
.icon-web-page-home {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -281px -178px;
  width: 16px;
  height: 14px;
}
.icon-white-checked {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -247px -48px;
  width: 10px;
  height: 8px;
}
.icon-youtube {
  background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?v9');
  background-position: -128px -176px;
  width: 32px;
  height: 23px;
}

