.AccountRegisterRoute {
	.wd-profile-register {
		.wd-header {
			.wd-title {
				display: none;
			}
		}
	}
}
.AccountRegisterRoute, .page-account-edit {
	h1 {
		color: $base-color-black;
    margin: 35px 0;
	}
	.wd-profile-register {
		.wd-header {
			.wd-icon {
				display: none;
			}
		}
		.wd-subtitle {
			@extend h2;
			color: $base-color;
		}
		fieldset {
			.input-wrapper:not(.customer-type-person) {
				width: 48%;
				float: left;
				min-height: 98px;
				margin-bottom: 0;
				&:nth-child(2n) {
					float: right;
				}
				&.addorsetcustomer-name, &.addorsetcustomer-surname, &.input-wrapper-email {
					width: 100%;
				}
				&.addorsetcustomer-gender, &.addorsetcustomer-birthdate, &.addorsetcustomer-cpf {
					width: 33.33%;
					float: left;
				}
				&.addorsetcustomer-gender {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
		.bt-submit {
			width: 240px;
			font-family: $font-bold;
			margin: 15px 15px 0;
		}
	}
}