.area-profile {
    #middle {
        padding-top: 40px;
        padding-bottom: 40px;
    }
	.wd-browsing-breadcrumbs {
		display: none;
	}
	.center-box {
        background-color: $white;
        padding: 25px;
    }
	span.error {
		color: darken($danger, 40% );
		display: inline-block;
		padding: 5px;
	}
	#middle {
        .input-wrapper {
            input, select {
                border: 1px solid $gray-medium;
            }
        }   
	}
	&:not(.page-login):not(.page-register) {
		#content {
			@extend .col-lg-10 !optional;
			@extend .order-2 !optional;
			float: right;
			clear: none;

			#content-wrapper {
                margin: 0;	
                .wd-header { 
                    padding-top: 0;
                    padding-bottom: 15px;		
                    .wd-title {
                        font-size: 32px;
                        font-family: $font-bold;
                        color: $base-color-black;
                    }
                }
			}
		}
	}
	#left {
		margin: 0;
		@extend .order-1 !optional;
		@extend .col-lg-2 !optional;
	}
    .wd-browsing-breadcrumbs {
        display: none;
    }
    .center-box {
        background-color: $white;
    }
    span.error {
        color: darken( $danger, 40% );
        display: inline-block;
        padding: 5px;
    }
    &:not(.page-login):not(.page-register) {
        #content {
            @extend .col-lg-10 !optional;
            width: inherit;
            @extend .order-2 !optional;
            #content-wrapper {
                margin: 0;
            }
            @media screen and (max-width: $breakpoint-mobile) {
                padding: 0;
            }
        }
    }
    #left {
        margin: 0;
        @extend .order-1 !optional;
        @extend .col-lg-2 !optional;
        @media screen and (max-width: $breakpoint-mobile) {
            padding: 0;
        }
    }
}